<div fxLayout="row" style="background-color: lightblue;">
    <div fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="row">
            <a mat-button href="https://www.google.com/" mat-button color="primary">Add</a>
        </div>
        <div fxLayout="row">
            <a mat-button  href="https://www.google.com/" mat-button color="primary">Remove</a>
        </div>
    </div>
    <div fxLayout="row" fxFlex="100%" fxLayoutAlign="end" >
        <div fxLayout="row">
            <a mat-button  href="https://www.google.com/" mat-button color="accent">Zeeshan</a>
        </div>
    </div>
    
</div>

    
