
<div fxLayout="row" fxLayoutGap="20px" class="user-form">
    <form [formGroup]="profileForm" >
    <div fxLayout="row">
        <mat-form-field appearance="fill" >
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" name="email">
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" name="name" name="name">
        </mat-form-field>
    </div>


    <ng-container formArrayName="skills">
        <ng-container *ngFor="let s of skills().controls; let index = index">
            <div [formGroupName]="index" fxLayout="row" fxLayoutGap="20px">
                <mat-form-field appearance="fill" >
                    <mat-label>Skill</mat-label>
                    <input matInput formControlName="skill" name="skill">
                </mat-form-field>
                <mat-form-field appearance="fill" >
                    <mat-label>Exp</mat-label>
                    <input matInput formControlName="exp" name="exp">
                </mat-form-field>              
            </div>
        </ng-container>
    </ng-container>
    
    <button mat-raised-button color="primary" (click)="addSkills()">Add Skill</button>

    </form>
    
    
</div>

